<!-- ADD STATIC (html) or DYNAMIC CONTENT (Razor Scripts), BELOW THIS SECTION -->

<!-- NAVIGATION HERE -->
<div id="nav">
    <a href=" @Href("~/") ">Home</a> |
    <a href=" @Href("~/Sell") ">Sell</a> |
    <!-- don't display Register link to authenticated users -->
        @if(!WebSecurity.IsAuthenticated){
            @: <a href=" @Href("~/Account/Register") ">Register</a> |
        }
    <!-- if user is logged in, display their username and logout link-->
        @if(WebSecurity.IsAuthenticated ){
            // show the following link
            <a href="@Href("~/Account/Logout?returnUrl=" + 
                Server.UrlEncode(Request.ServerVariables["SCRIPT_NAME"]).Replace("%2f","~/"))" >Log Out</a> @: | 
            <span style="color: White">You are currently logged in as: @WebSecurity.CurrentUserName</span>
        }
        else{
            <a href="@Href("~/Account/Login")">Log In</a>
        }
     <!-- if user is a Site Admin, display Site Admin link -->   
     @if(Roles.IsUserInRole("Admin") ){
        @:| <a href="@Href("~/Admin/CreateCategory")">Site Admin</a>
    }   
</div>