<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <script src="@Href("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Href("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <link href="@Href("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css"/>
        <!-- SEO requirement -->
        <meta name="description" content="@Page.Description"/>
    </head>
    <body>
        <!-- HEADER section -->
        <div id="header">
            <!-- Render the Header page -->
            @RenderPage("~/Shared/_Header.cshtml")
        </div>
        <!-- NAVIGATION section -->
        <div id="navstrip">
            @RenderPage("~/Shared/_Navigation.cshtml")
        </div>
        <!-- WRAPPER section -->
        <div id="wrapper">
            <!-- COLUMN section -->
            <div id="left_column">
                <div id="search">
                   @RenderPage("~/Shared/_Search.cshtml")
                </div>
            </div>
            <!-- MAIN CONTENT section -->
            <div id="content">
                <!--
                <p>This is where the main content goes.</p>
                -->
                @RenderBody()
            </div>
            <!-- FOOTER section -->
            <div id="footer">
                <!-- Optional footer Section 
                --if(IsSectionDefined("footer")){
                    RenderSection("footer")
                }else {
                    <p>This is the default footer content</p>
                } 
                -->
                <!-- Sending data to content page -->
                @RenderPage("~/Shared/_Footer.cshtml", new { Year = DateTime.Now.Year -1 + "-" + DateTime.Now.Year })
                
            </div>
        </div>
        <!-- Analytics Helper -->
        @Analytics.GetGoogleHtml("UA-31774710-1")
    </body>
</html>
